body {
  background-color: #eff3c6;
}
 hr {
   border-color: grey;
   border-style: none;
   border-top-style: dotted;
   width: 10%;
   border-width: 10px;
   border-radius: 0px;

 }

 img {
   height: 100px;

 }

 h1 {
   color: #0779e4;
 }

 h3 {
   color: #4cbbb9;
 }
